#contactpage{
    min-height: calc(100vh - 2rem);
    width:100vw;
    max-width:60rem;
    margin:0 auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content :center;
}
#contact {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.Name, .Email, .msg {
    border-radius: 0.5rem;
    border: none;
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #79305a;
    background: #b690a4;
}
.submitBtn {
    cursor: pointer;
    margin: 15px  0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: #b690a4;
    color: #79305a;
    font-size: 1rem;
}
.links{
   display:flex;
    flex-wrap:wrap;
}
.link {
    object-fit: cover;
    height:3rem;
    width:3rem;
    margin:0 0.75rem;
}
.folllow {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 15px -5px;
    border-radius: 25px;
    height: 60px;
    width: 15rem;
    margin:5px;
}
.folllow p {
    color: #79305a;
}
.candy {
    padding: 0px;
    margin: 5px;
    height: 45px;
    width: 50px;
}

    @media screen and (max-width:480px) {
        .link {
            margin: 0;
        }
    }