*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    background:transparent;
}
body {
    color: #79305a;
    background: #f2dcdc;
    overflow: hidden;
    overflow-y: scroll;
}

